[Unit]

Description=Telemetry

After=network-online.target

[Service]

ExecStart=node /usr/local/telemetry-mongodb/src/index.js

Restart=on-failure

User=root

[Install]

WantedBy=multi-user.target